.dashboard{
    display:flex;
    flex-direction: column;
    height:98vh;
    width:98vw;
    gap:2%;
    background-color: #fae9f8;
    align-items: center;
    justify-content: center;
}
.dashnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width:98% ;
    background-color: #882179;
}

.navdisp{
    height: 80%;
    width: 98%;
    background-color: #802272;
    overflow: auto;
}

.navbtn{
    height: 2.5vw;
    font-size: 1.2vw;
    width: 10%;
    font-weight: bold;
    color:#6a1b5e ;
}