.frmhead{
    font-size: 2vw;
    font-weight: bold;
    color: #f4d8ff;
}
.login{
    font-size: 1.5vw;
    font-weight: bold;
    color: #f4d8ff;
    display: flex;
    flex-direction: column;
    width: 30%;
    height:70%;
    gap:4%;
    box-shadow: 0px 0px 6px #1e0c26;
    background: linear-gradient(#1e0c26, #ca33b3);;
    border-radius: 6%;
    border-right: #1e0c26 2px solid;
    align-items: center;
    justify-content: center;
}

#email,#pwd,#fname,#lname,#gender,#dob,#country{
    height: 2vw;
    width: 90%;
}
#register,#login{
    height: 3vw;
    font-size: 1.2vw;
    width: 40%;
    font-weight: bold;
    color:#6a1b5e ;
}

.frm{
    display: flex;
    justify-content: center;
    align-items: center;
    height:98vh;
    width:98vw;
    overflow: hidden;
}

