.mixpost{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  gap:25px;
  width:100%;
}
.singlepost{
  background-color: #faeeff;
  box-shadow: 0px 0px 2px #1e0c26;
  border-radius: 10px;
  border-bottom: #1e0c26 2px solid;
  height: 100px;
  width: 90%;
}
.postcaption{
  font-weight: bolder;
  font-size: 1.8vw;
  margin-left: 2%;
  margin-bottom: 0.5%;
  color:#793198;
  flex-wrap: wrap;
}
.postcontent{
  font-weight: bold;
  font-size: 1.2vw;
  margin-left: 2%;
  flex-wrap: wrap;
}