.usersearch{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  gap:25px;
  width:100%;
}
.searchbar{
  width:40%;
  height:4vh;
  font-size: large;
}
.searchbtn{
    height: 5vh;
    font-size: 1.2vw;
    width: 10%;
    font-weight: bold;
    color:#6a1b5e ;
}
.searchresults{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border-bottom: #1e0c26 2px solid;
  width:70%;
  background-color: #faeeff;
  height:7vh;
}
.fullname{
  height:5vh;
  font-size: large;
  font-weight: 700;
}
.sendreq{
  height:4vh;
  font-size: large;
}
